// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.store {
    background-color: #1a2326;
    border: 2px solid #00e0aa;
    color: #00e0aa;
    font-weight: bold;
    letter-spacing: 2px;
}

.item-box {
    border: 2px solid #00e0aa;
    margin: 10px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}